.text-overflow {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 500px;
  background-color: limegreen;
  
}



#login, #loggedin {
  display: none;
}

#oauth, #obtain-new-token {

  display: none;
}




#loggedin{
  margin-top: 20px;
  background-color: lawngreen;



}



#user-profile{
  border-radius: 30px;
  border: white 2px solid;
  background-color: black;
  padding-left:20px;
  padding-top: 20px;
  color: white;

}

.media{
  color:white
}


h2 {
  color: lawngreen;
  margin: 0
}


#resultats{
  display: flex;
  height: 650px;
  width: 90%;
  margin-right: auto;
  padding-bottom: 25px
}



#artists {

  margin-right: 30px
}



.object, .new_object {

  margin: 5px;
  width: auto;
}



.input{

  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center

}

.titol {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.dl-horizontal{
  text-align: center;
}

.media-object {
  padding-left: 10%;
  padding-top: 40%;
}
.dl-horizontal dt{
  font-size: 20px;
  overflow: visible;
}

dd {
  border: black 1px solid;
  border-radius: 20px;
}
