body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1db954, #191414);
    background-attachment: fixed;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login, #loggedin {
    text-align: center;
    margin-bottom: 20px;
}

#login h1 {
    font-size: 24px;
    color: #1db954;
}

.btn-primary {
    background-color: #1db954;
    border-color: #1db954;
    color: #fff;
}

.btn-primary:hover {
    background-color: #168f3e;
    border-color: #168f3e;
}

.input {
    margin-top: 20px;
}

.input input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: #1db954;
    border-color: #1db954;
    color: #fff;
}

.input button:hover {
    background-color: #168f3e;
    border-color: #168f3e;
}

#resultats {
    margin-top: 20px;
}

.dl-horizontal dt {
    width: 160px;
    font-weight: bold;
}

.dl-horizontal dd {
    margin-left: 180px;
}

#oauth {
    margin-top: 20px;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;
}

#oauth h2 {
    font-size: 18px;
    color: #1db954;
}

.btn-default {
    background-color: #ddd;
    color: #333;
}

.btn-default:hover {
    background-color: #ccc;
}

.media-body dl.dl-horizontal {
    text-align: left;
}

.table {
    margin-bottom: 0;
}

.table th, .table td {
    border-top: 1px solid #ddd;
}

#resultats table {
    width: 100%;
}

#resultats .col-md-6 {
    padding: 0 10px;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: visible; 
    word-wrap: break-word; 
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }
}
